{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Perritos</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <h1><a href="{% url 'home' %}">Blog Perritos</a></h1>
    </header>

    <div>
        <a href="{% url 'create' %}">New post</a>
    </div>
    
    {% block content %}

    {% endblock content %}
</body>
</html>
</html>